---
layout: default
---

{% if site.categories.journal[0].image %}
	<div class="header-image">
		<a href="{{ site.categories.journal[0].url }}"> 
			<img class="img-rounded img-responsive" src="{{ site.url }}{{ site.categories.journal[0].image }}" />
		</a>
		{% if site.categories.journal[0].image_title %}
			<div class="image-caption">
				<strong>{{ site.categories.journal[0].image_title }}{% if site.categories.journal[0].image_caption %}:{% endif %}</strong>
				{{ site.categories.journal[0].image_caption }}
			</div>
		{% endif %}
	</div>
{% endif %}

<div class="row">
	<div class="col-md-4">
		<h1 class="section-title">Journal</h1>
		<div class="post-list">
			{% for post in site.categories.journal limit:5 %}
				<a href="{{ post.url }}" class="post-list-item">
					<span class="post-title">{{ post.title }}</span>
					<span class="post-date">{{ post.date | date_to_string }}</span>
				</a>
			{% endfor %}
			{% if site.categories.journal | size > 5 %}
				<a class="post-list-item" href="{{ site.url }}/journal/"><i class="fa fa-archive"></i> All Journal Entries</a>
			{% endif %}
		</div>
	</div>
	<div class="col-md-4">
		<h1 class="section-title">Art <span class="amp">&amp;</span> Poetry</h1>
		<div class="post-list">
			{% for post in site.categories.art-and-poetry limit:5 %}
				<a href="{{ post.url }}" class="post-list-item">
					<span class="post-title">{{ post.title }}</span>
					<span class="post-date">{{ post.date | date_to_string }}</span>
				</a>
			{% endfor %}
			{% if site.categories.books | size > 5 %}
				<a class="post-list-item" href="{{ site.url }}/art-and-poetry/"><i class="fa fa-heart"></i> All Art <span class="amp">&amp;</span> Poetry</a>
			{% endif %}
		</div>
	</div>
	<div class="col-md-4">
		<h1 class="section-title">Books</h1>
		<div class="post-list">
			{% for post in site.categories.books limit:5 %}
				<a href="{{ post.url }}" class="post-list-item">
					<span class="post-title">{{ post.title }}</span>
					<span class="post-date">{{ post.date | date_to_string }}</span>
				</a>
			{% endfor %}
			{% if site.categories.books | size > 5 %}
				<a class="post-list-item" href="{{ site.url }}/books/"><i class="fa fa-book"></i> All Books</a>
			{% endif %}
		</div>
	</div>
</div>