body {
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	font-family: Lato, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-family: Lato, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 30px;
	margin-bottom: 15px;
}

p {
	margin:30px 0;
}

hr {
	margin: 30px auto 29px auto;
	width: 20%;
	border-color: #CCC;
}

.site-title > a{
	color: #555;
}

.header-image {
	margin-top: 30px;
	position: relative;
}
.header-image > .image-caption {
	font-size: 14px;
	line-height: 20px;
	color: #E5E5E5;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 2px 8px;
	background: rgba(0,0,0,.5);
	border-radius: 0 0 6px 6px;
	opacity: 0;
	transition: .15s linear opacity;
}
.header-image:hover > .image-caption {
	opacity: 1;
}

.footnotes {
	margin-top: 30px;
	padding-top: 27px;
	padding-bottom: 30px;
	border-top: 3px double #EEE;
	font-size:16px;
	line-height: 20px;
	color: #666;
}
.footnotes p{
	margin: 10px 0;
}