---
layout: default
---

{% if page.image %}
	<div class="header-image">
		<img class="img-rounded img-responsive" src="{{ site.url }}{{ page.image }}" />
		{% if page.image_title %}
			<div class="image-caption">
				{{ page.image_title }}
			</div>
		{% endif %}
	</div>
{% endif %}

<div class="row">
	<div class="col-md-10">
		<h1 class="post-header">
			<span class="post-title">{{ page.title }}</span>
			<small class="post-date">{{ page.date | date_to_string }}</small>
		</h1>

		<div class="post-content">
			{{ content }}
			<div class="post-after-content">
				<p class="text-muted"><em>Summeralities doesn&#8217;t have a commenting system, but I love getting feedback, thoughts, questions, and ideas. Please do send those to me!&nbsp;<a href="mailto:harris@chromamine.com">harris@chromamine.com</a>.</em>&nbsp;&hearts;</p>
				<p>
					{% if page.next %}
						<strong>Read next:</strong> <a href="{{ page.next.url }}">{{ page.next.title }}</a> <em class="text-muted">in {{ page.next.categories | camelcase }}</em><br />
					{% endif %}
					{% if page.previous %}
						{% if page.next %}or previously:{% else %}<strong>Previously:</strong>{% endif %} <a href="{{ page.previous.url }}">{{ page.previous.title }}</a> <em class="text-muted">in {{ page.previous.categories | camelcase }}</em>
					{% endif %}
				</p>
			</div>
		</div>
	</div>
</div>
