---
layout: default
---

{% if page.image %}
	<div class="header-image">
		<img class="img-rounded img-responsive" src="{{ site.url }}{{ page.image }}" />
		{% if page.image_title %}
			<div class="image-caption">
				{{ page.image_title }}
			</div>
		{% endif %}
	</div>
{% endif %}

<div class="row">
	<div class="col-md-10">
		<h1 class="post-header">
			<span class="post-title">{{ page.title }}</span>
			<small class="post-date">{{ page.date | date_to_string }}</small>
		</h1>

		<div class="post-content">
			{{ content }}
		</div>
	</div>
</div>