---
layout: default
---

{% if page.image %}
	<div class="header-image">
		<img class="img-rounded img-responsive" src="{{ site.url }}{{ page.image }}" />
		{% if page.image_title %}
			<div class="image-caption">
				{{ page.image_title }}
			</div>
		{% endif %}
	</div>
{% endif %}

<div class="row">
	<div class="col-md-10">
		<h1 class="post-header">
			<span class="post-title">{{ page.title }}</span>
			<small class="post-date">{{ page.date | date_to_string }}</small>
		</h1>

		<div class="post-content">
			{{ content }}
			<p class="text-muted"><em>Summeralities doesn&#8217;t have a commenting system, but I love getting feedback, thoughts, questions, and ideas. Please do send those to me!&nbsp;<a href="mailto:harris@chromamine.com">harris@chromamine.com</a>.</em>&nbsp;&hearts;</p>
		</div>
	</div>
</div>